/* Styles go here */

.flightCard {
    background-color: #efefef;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border-color: #000000;
    margin: 2px;
}

.approvedFlight{
    background-color: #5cb85c;
}