<!DOCTYPE html>
<html>
  <head>
    <title>Flights!</title>
    <link rel="stylesheet" href="content/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="content/js/angular.min.js"></script>
    <script src="content/airlinesApp/airlineapp.js"></script>
    <script src="content/airlinesApp/controllers/flightsController.js"></script>
    <script src="content/airlinesApp/services/flightservice.js"></script>
  </head>
  <body ng-app="airlineApp">
    <div class="container" ng-controller="flightsController" ng-cloak>
      <h1>Flights!</h1>
      <div class="alert alert-success" ng-show="status">
          {{status}}
      </div>
      <div class="row">
        <div class="col-md-6" ng-repeat="flight in flights">
          <div class="flightCard">
            <div ng-class="{ approvedFlight:flight.approved, unapprovedFlight:!flight.approved }">
              <h3 style="padding-left: 12px">{{flight.airline}}</h3>
            </div>
            <div class="pull-right">
              <button ng-class="{ btn:true, 'btn-success':flight.approved, 'btn-primary':!flight.approved }" ng-click="selectFlight(flight)">
                <b ng-if="!flight.approved">SELECT</b>
                <b ng-if="flight.approved">SELECTED</b>
                <span ng-show="flight.approved" class="glyphicon glyphicon-ok"></span>
              </button>
            </div>
            <div style="padding-left: 12px">
              <span>Price: {{flight.price | currency}}</span>
              <span>Duration: {{flight.totalDuration}}</span>
            </div>
            <hr/>
            <div style="padding-left: 12px">
              <span>Start Time: {{flight.startTime | date: 'hh:mm'}}</span>
              <span>End Time: {{flight.endTime | date: 'hh:mm'}}</span>
            </div>
            <ul class="breadcrumb">
                <li ng-repeat="city in flight.cities">
                  {{city}}
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
